<div class='row'>
  <h2>SuperUser login</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), auto_labels: false) do |f| %>
    <div><%= f.label 'Email o username' %>
    <%= f.text_field :email, :autofocus => true %></div>

    <div><%= f.label :password %>
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me, label: 'Ricorda' %></div>
    <% end -%>

    <div><%= f.submit "Login" %></div>
  <% end %>
</div>
