<div class='row comment'>

	<div class='small-1 columns comment_image'>
			<%= image_tag comment.commenter.image_url %>
	</div>
	<div class='small-11 columns'>
		<p>
      <b><%= profile_link comment.commenter %></b> dice:
      <% if commenter_signed_in? and @selected_comment != comment.id %>
        <i><%= link_to "(rispondi)", post_path(@post, selected_comment: comment.id) %></i>
      <% end %>
      </br>
      <%= link_uris sanitize(comment.body), target: '_blank' %></br>
		</p>
  
    <% if comment_commenter_signed_in?(comment) %>
      <div class='row'>
        <div class='small-12 columns text-right'>
            <%= link_to 'Elimina', post_comment_path(@post, comment), method: :delete %> | 
            <%= link_to 'Modifica', edit_post_comment_path(@post, comment) %>
        </div>
      </div>
    <% end %>

    <% comment.ordered_comments.each do |subcomment| %>
      <%= render partial: 'posts/comment', locals: { comment: subcomment } %>
    <% end %>

	</div>

  <% if commenter_signed_in? and @selected_comment == comment.id %>
    <div class='small-12 columns'>
      <%= render 'comment_form', commentable: comment %>
    </div>
  <% end %>

</div>
