<%= form_for(@post, auto_labels: false) do |f| %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.label :titolo %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <%= f.label :testo %>
      <%= f.text_area :body, class: "tinymce", rows: 25 %>
    </div>
    <div class="small-4 columns">
      <%= label_tag 'Tags' %>
      <%= text_area_tag :tag_names, @post.tagstring %>
    </div>
  </div>
  
  <div class="row">
    <div class="small-12 columns">
      <div class="actions">
      <%= f.submit @submit_text %>
      </div>
    <% end %>
    </div>
  </div>

<%= tinymce unless @plain_text %>
