<div class='post_panel'>
  <div class='row collapse'>
    <div class='small-12 columns title'>
      <h3><b><%= link_to post.title.html_safe, post_path(post) %></b></h3>
    </div>
    
    <div class='small-6 columns info'>
      <% if post.published? %>
        <%= post.publish_date if  post.published? %>
      <% else %>
        non pubblicato
      <% end %>
    </div>
    <div class='small-6 columns text-right info'>
      autore: <%= profile_link post.creator %>
    </div>
  </div>

    <hr/>

  <div class='row collapse'>
    <div class='small-12 columns body'>
      <%= post.body.html_safe %>
    </div>

    <div class='small-12 columns tagged'>
      Tagged: <%= tags_for post, :posts %>
    </div>
    
    <% if creator_signed_in? %>
    <div class='small-4 columns text-left'>
      <%= link_to '$Modifica', edit_post_path(post) %>
    </div>
    <div class='small-4 columns text-center'>
      <% if post.published? %>
        <%= link_to '$Nascondi', unpublish_post_path(post), data: { confirm: 'Sicuro di volerlo spubblicare?'} if post.published? %>
      <% else %>
        <%= link_to '$Pubblica', publish_post_path(post), data: { confirm: 'Sicuro di volerlo pubblicare?' } %>
      <% end %>
    </div>
    <div class='small-4 columns text-right'>
      <%= link_to '$Elimina', post_path(post), method: :delete, data: { confirm: 'Sei sicuro?' } %>
    </div>
    <% end %>
  </div>
</div>
