<div class="row">
  <div class='medium-8 columns'>
    <% if params[:search] %>
      <h4><i>
        Hai cercato '<%= params[:search] %>', 
        la ricerca ha prodotto <%= @posts.count %> risultati
      </i></h4>
    <% end %>
    <%= render @unpublished_posts if super_user_signed_in? %>
    <%= render @posts %>
  </div>

  <div class='medium-4 columns'>
    <% if creator_signed_in? %>
      <div class='row collapse'>
        <br>
        <%= link_to 'Nuovo post', new_post_path, class: 'radius button' %>
      </div>
      <hr/>
    <% end %>
    <h2 class="subheader">Tags</h2>
    <%= tags_list @selected_tag_id %>
  </div>
</div>
