
<div class='row'>
  <div class='small-12 columns'>
    <h1>
      Blog 
      <%= link_to 'Nuovo post', new_post_path, class: 'medium radius success button' %>
    </h1>
  </div>
</div>

<div class='row'>
  <div class='small-8 columns'>
    <%= render @posts %>
  </div>

  <div class='small-4 columns'>
    <div class='row collapse'>
      <%= form_tag(search_posts_path, method: :get) do %>
        <div class='large-8 columns'>
          <%= text_field_tag :search %>
        </div>
        <div class='large-4 columns'>
          <%= submit_tag 'Cerca', class: 'tiny button postfix' %>
        </div>
      <% end %>
    </div>
    <hr>
    <div class='row'>
      <div class='small-12 columns'>
        <h3>Tags</h3>
        <%= render '/tags/tags_list' %>
      </div>
    </div>
  </div>
</div>

<hr>
