
<div class='medium-7 medium-offset-1 columns'>

  <div class='row'>
    <br>
    <div class='small-12 columns'>
      <% if params[:search] %>
        <h4><i>
          Hai cercato '<%= params[:search] %>', 
          la ricerca ha prodotto <%= @posts.count %> risultati
        </i></h4>
      <% end %>
    </div>
  </div>
  <%= render @unpublished_posts if super_user_signed_in? %>
  <%= render @posts %>
</div>

<div class='medium-3 medium-offset-1 columns'>
  <% if signed_in? [:super_user, :admin] %>
    <div class='row collapse'>
      <div class='small-12 columns'>
        <br>
        <%= link_to 'Nuovo post', new_post_path, class: 'radius button' %>
      </div>
    </div>
    <hr>
  <% end %>
  <div class='row'>
    <div class='small-12 columns'>
      <h3>Tags</h3>
      <%= tags_list @selected_tag_id %>
    </div>
  </div>
</div>