

<!div class='row'>
  <div class='small-7 small-offset-1 columns'>

    <div class='row'>
      <div class='small-12 columns'>
        <% if params[:search] %>
          <h4><i>
            Hai cercato '<%= params[:search] %>', 
            la ricerca ha prodotto <%= @posts.count %> risultati
          </i></h4>
        <% else %>
          <h1>µBlog</h1>
        <% end %>
      </div>
    </div>

    <%= render @posts %>
  </div>

  <div class='small-3 small-offset-1 columns'>
    <div class='row collapse'>
      <div class='small-12 columns'>
        <br>
        <%= link_to 'Nuovo post', new_post_path, class: 'radius button' %>
      </div>
    </div>
    <hr>
    <div class='row'>
      <div class='small-12 columns'>
        <h3>Tags</h3>
        <%= render '/tags/tags_list' %>
      </div>
    </div>
  </div>
<!/div>