<!%= image_tag 'console_fx2.gif' %>
<div class='contain-to-grid'>

  <nav class="top-bar" data-topbar data-options="is_hover: false">

    <section class="top-bar-section hide-for-small">
      <ul class="left">
        <%= render 'layouts/menu_items' %>
      </ul>      
      <ul class="right">
        <%= render 'layouts/menu_search' %>
        <%= render 'layouts/login_logout_links' %>
      </ul>
    </section>

    <section class="top-bar-section show-for-small">
      <li class="has-dropdown">
        <a href="#">Menu</a>
        <ul class="dropdown">
          <ul class="left">
            <%= render 'layouts/menu_items' %>
            <%= render 'layouts/login_logout_links' %>
            <%= render 'layouts/menu_search' %>
          </ul>      
        </ul>
      </li>
    </section>

  </nav>
</div>
